
{% load static %}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
    
<!-- <script src="{% static 'js/htmx/htmx.min.js' %}" defer></script> -->
<!-- <script src="{% static 'js/htmx/debug.js' %}" defer></script> -->

{% block content %}

<form method="post" hx-post="{{request.path}}" hx-trigger="submit" hx-swap="post"  >
   
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body p-5">
                <h2 class="text-center mb-4">{{ view.title }}</h2>
                            
                    {% csrf_token %}
                    {% for field in form %}
                    
                    <div class="mb-3">
                        {% bootstrap_field field  %}
                    </div>

                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

                <div id="response"></div>
                
        </div>
    </div>
</div>
{% endblock %}
