
<h2>PV Simulation Visualization</h2>
{% if model_name == 'pvsimulation' %}
<!-- Variable Selection Form -->
<!-- Graph Container -->
<div class="container">
    <div class="row">
        <div class=" col-md-3">
            
            {% include 'include/location.html'%}
        </div>
        <div class=" col-md-3">
            {% include 'include/inverter.html'%}
            
        </div>
        <div class=" col-md-3">
            {% include 'include/module.html'%}
            
        </div>
        <div class=" col-md-3">
            {% include 'include/temperature.html'%}
            
        </div>
    </div>
</div>
<div id="update-con" hx-get="{% url 'pv_app:generic_update' 'pv_app' 'pvsimulation' item.pk %}" hx-trigger="load" hx-target="#update-con"></div>
{% include 'include/graph_form.html'%}
    
    <div id="graph">
        <!-- Plotly Graph will be inserted here -->
        <div id="plotlyGraph"></div>
    </div>

</div>
{% elif model_name == 'pvlocation' %}
{% include 'include/location.html'%}

{% endif %}


