{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Detail of {{ item }}</h1>
        <!-- Display details here -->
        <p>ID: {{ item.id }}</p>
        <p>Name: {{ item.name }}</p>
        <!-- Add more fields as needed -->

        <!-- Buttons for Edit and Delete -->
        <a href="{% url 'pv_app:generic_update' app_name=model_name model_name=item.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'pv_app:generic_delete' app_name=model_name model_name=item.pk %}" class="btn btn-danger" hx-confirm="Are you sure?">Delete</a>
    </div>
{% endblock %}
