
{% load static %}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
    
 <div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">Edit to Generate graph</div>
            <div class="card-body">
                
            <form hx-post="{{request.path}}" hx-target="#content-area" hx-trigger="submit" hx-swap="post"  >
                {% csrf_token %}
                <div class="row">

                    {% for field in form %}
    
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            {% bootstrap_field field %}
                
                        </div>
                    {% endfor %}
                    
                </div>
                
                <button type="submit" class="btn btn-primary align-items-end">Generate Graph</button>
            </form>
            </div>
        </div>
        

    </div>
 </div>
<div class="container">
    <div class="row">

        <div class="card">
           <div class="card-header">{{graph_title}}</div>
           <div class="card-body">
               <div id="graph-placeholder" style="height: 200px; background-color: #e0e0e0;">
                   
                   <p style="text-align: center; padding-top: 80px;">
                       {{result.fig|safe }}
                   
                   </p>
               </div>
           </div>
       </div>

    </div>    
</div>   

