
{% load static %}

{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PV Tracking</title>
    
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
    
        
</head>
<body>

<div class="container">
    {% bootstrap_messages %}
    <h1>PV System Tracking Setup</h1>
    <p>To get your latitude and longitude, click on the map below where your PV system is located.</p>
    
    <div class="container">
        <div id="map-container" hx-get="{% url 'map' %}" hx-trigger="load" hx-target="#map-container">
            <!-- The map will be loaded here -->
        </div>
    
    </div>    
    <form method="POST" >
        {% csrf_token %}
        {% bootstrap_form form %}
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- <input type="hidden" id="id_lat" name="lat" value="">
<input type="hidden" id="id_lon" name="lon" value="">
<input type="hidden" id="id_tz" name="tz" value=""> -->

<script>
    // Update fields in the parent page with the values returned from the backend
    document.body.addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.verb === 'post'){
            console.log('post request')
            const detail = event.detail;
            const lat = detail.serverResponse.latitude;
            const lon = detail.serverResponse.longitude;
            const tz = detail.serverResponse.timezone;
    
            document.getElementById('id_lat').value = lat;
            document.getElementById('id_lon').value = lon;
            document.getElementById('id_tz').value = tz;

        }else{
            console.log('get request')
        }
    });
</script>

<script>
    console.log('{{ longitude }}')
    
</script>

</body>
</html>
