{% extends 'base.html'%}
{% load static %}

{% load bootstrap5 %}


 {% block content %}
 <div class="container" hx->
     {% bootstrap_messages %}
     <h1>PV System Tracking Setup</h1>
     <p>To get your latitude and longitude, click on the map below where your PV system is located.</p>
     
     <div class="container">
         <div id="map-container" hx-get="{% url 'pv_app:map' %}" hx-trigger="revealed" hx-target="#map-container">
             <!-- The map will be loaded here -->
            </div>
            
        </div>    
    </div>

    
    {% endblock content %}


