
{% load static %}

{% load bootstrap5 %}
<!-- templates/map.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Map</title>
    <style>
        #map {
            width: 60%;
            height: 300px;
        }
    </style>
    
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://unpkg.com/htmx.org@1.9.2"></script>

</head>
<body>
    <h1>Search Address on Map</h1>
    <form hx-post="{% url 'map' %}" hx-target="#map-container" hx-trigger="submit" hx-swap="post">
        {% csrf_token %}
        {% bootstrap_form form %}
      
        <select id="address-select" name="address" size="5" 
                onchange="document.getElementById('id_address').value=this.value;">
            <!-- Options will be populated here -->
        </select>
        {% buttons %}
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      {% endbuttons %}


    </form>

    <script>
        document.querySelector('#id_address').addEventListener('input', function() {
            document.querySelector('#suggestions').innerHTML = '';
        });
    </script>

    <div id="map">
        {{ map }}
    </div>
</body>
</html>
