
{% load static %}

{% load bootstrap5 %}
<!-- templates/map.html -->

    <style>
        #map {
            width: 60%;
            height: 300px;
        }
    </style>
    
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            
<div class="card">
    <div class="card-header">Search Address on Map</div>
    <div class="card-body">
        <form hx-post="{% url 'pv_app:map' %}" hx-target="#map-container" hx-trigger="submit" hx-swap="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="mb-3">
                <select id="address-select" name="address" class="form-select" size="5"
                        onchange="document.getElementById('address-input').value=this.value;">
                    <!-- Options will be populated here -->
                </select>
            </div>
    
            <div id="loading-indicator" class="spinner-border text-primary" role="status" style="display: none;">
                <span class="visually-hidden">Loading...</span>
            </div>
    
            {% buttons %}
            <button type="submit" class="btn btn-primary" >
              Get Coordinates
            </button>
          {% endbuttons %}
          <input type="hidden" id="latitude" name="latitude" value="{{latitude}}">
        <input type="hidden" id="longitude" name="longitude" value="{{longitude}}">
        <input type="hidden" id="timezone" name="timezone" value="{{timezone}}}">
    
    
    
        </form>
    
    </div>
</div>

        </div>
        <div class="col-12 col-lg-6">
            
<div class="card">
    <div class="card-header">{{location.address}} Map</div>
    <div class="card-body">

        <div id="map">
            {{ map|safe }}
        </div>
    </div>
</div>

        </div>
    </div>
</div>
    


    
    <script>
        document.getElementById('address-input').addEventListener('input', function() {
            var select = document.getElementById('address-select');
            if (this.value.length > 0) {
                select.style.display = 'block';
            } 
            
        });
        
        
    </script>