
{% load static %}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://unpkg.com/htmx.org@1.9.2"></script>
    
<!-- <script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>
<script src="{% static 'js/htmx/debug.js' %}" defer></script> -->


{% block content %}
<h1>Simulation Interface</h1>

<div>
    <h2>Create New</h2>


<h2>PV Simulation Visualization</h2>

<!-- Variable Selection Form -->
 
<!-- Graph Container -->


{% endblock %}
